.reactDatePickerContainer :global(button.react-datepicker__navigation--next) {
  top: 9px;
}

.reactDatePickerContainer :global(button.react-datepicker__navigation--previous) {
  top: 9px;
}

.reactDatePickerContainer :global(span.react-datepicker__year-read-view--down-arrow) {
  top: 2px;
}

.reactDatePickerContainer :global(div.react-datepicker__current-month) {
  margin-bottom: 8px;
}
